.viewerArea {
    flex-grow: 1;
    color: whitesmoke;
    background-color: #838383;
    max-width: calc(100% - var(--buffer-area-width));
}

.document {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}